<p id="notice"><%= notice %></p>

<h1>Albums</h1>
<%= form_tag(search_albums_url, method: 'get') do %>
  <%= csp_meta_tag %>
  <%= label_tag(:q, 'Search for:') %>
  <%= text_field_tag(:q) %>
  <%= submit_tag('Search') %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Plays</th>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.genre %></td>
        <td><%= album.year %></td>
        <td><%= album.plays %></td>
        <td><%= album.label.name %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
